<head>
<style>
  .navbar {
    justify-content: flex-start;
  }
  }
</style>
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">GameTrade</a>
    </div>
    <ul class="nav navbar-nav">
          <li> <%= link_to 'Home', root_path %> </li>
       <% if current_user %>
          <li> <%= link_to 'My Listings', mygames_path %> </li>
          <li> <%= link_to 'All Listings', sell_games_path %> </li>
          <li> <%= link_to 'Sell', new_sell_game_path %> </li>
          <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
      
      <% else %>
          <li> <%= link_to 'Sign up', new_user_registration_path %> </li>
          <li>     <%= link_to 'Sign in', new_user_session_path %> </li>
      <% end %>
    </ul>
  </div>
</nav>